* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

body {
    background: #f0f0f0;
}

.button {
    float: left;
    width: 200px;
    padding: 20px 30px;
    margin: 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background .5s;
}

#success {
    background: #03a679;
    color: #f0f0f0;
}

#failure {
    background: #ff3939;
    color: #f0f0f0;
}

.notify {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: #3DB12F;
    overflow: hidden;
    box-sizing: border-box;
    transition: height .2s;
    z-index: 11;
}

#notifyType:before {
    display: block;
    margin-top: 15px;
}

.active {
    height: 50px;
}


/* .success:before {
    Content: "Aww Yeaaaaa! Success!";
}

.failure:before {
    Content: "Oh no! Something didn't go as planned :(";
} */